    <div class='container-fluid footer mt-4 bg-dark'>
      <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-2 mt-2'>
            <h2 class='font-weight-bold text-white'>Book Lovers</h2>
            <table>
              <tr>
                <td class='pr-2 text-white'><i class="fa fa-map-marker fa-2x float-right" aria-hidden="true"></i></td>
                <td><p class='address text-white pt-3'>Ha Noi, Viet Nam</p></td>
              </tr>
              <tr>
                <td class='pr-2 text-white'><i class="fa fa-phone fa-2x  float-right" aria-hidden="true"></i></td>
                <td><p class='phone text-white pt-3'>0123456888</p></td>
              </tr>
              <tr>
                <td class='pr-2 text-white'><i class="fa fa-envelope fa-2x  float-right" aria-hidden="true"></i></td>
                <td><p class='email text-white pt-3'>booklovers@email.com</p></td>
              </tr>
            </table>
            
            
            
        </div>
        <div class='col-md-6 mt-4'>
          <p class='text-white'>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
            has been the industry's standard dummy text ever since the 1500s, when an unknown 
            printer took a galley of type and scrambled it to make a type specimen book. It has 
            survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release.
          </p>
        </div>
        <div class='col-md-2'></div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <script src='/javascript/main.js'></script>
  </body>
</html>